[Desktop Entry]
Name=RGM Core
Comment=Connect to the Dogecoin P2P Network
Comment[de]=Verbinde mit dem Dogecoin peer-to-peer Netzwerk
Comment[fr]=Dogecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Dogecoin, eşten eşe kriptografik sanal para birimi
Exec=rgm-qt %u
Terminal=false
Type=Application
Icon=rgm128
MimeType=x-scheme-handler/rgm;
Categories=Office;Finance;
